# DMI data merged with .csv

In [1]:
import pandas as pd

In [2]:
data = pd.read_parquet(path = "Data/DSB_BDK_trainingset.parquet")
data = data.reset_index()

In [3]:
data['dsb_station_passengers_in']

0          342.5720
1          342.5720
2            0.0000
3         2786.1208
4         2786.1208
            ...
199441       0.0000
199442       0.0000
199443   -7158.4245
199444   -7158.4245
199445   -1626.3169
Name: dsb_station_passengers_in, Length: 199446, dtype: float64

In [4]:
dmi_data = pd.read_csv("Data/DMI_data.csv")

In [5]:
dmi_data

        Unnamed: 0  station  mean_temp  mean_wind_speed
0                0        0        3.5              2.9
1                0        0        3.5              2.9
2                0        1        3.5              2.9
3                0        2        4.2              2.5
4                0        2        4.2              2.5
...            ...      ...        ...              ...
199441           0       44        7.5              5.1
199442           0       45        6.6              3.9
199443           0       46        7.6              4.5
199444           0       46        7.6              4.5
199445           0       47        8.5              7.3

[199446 rows x 4 columns]

In [6]:
data_all = pd.concat([data.iloc[:100, :],dmi_data.iloc[:100, :]], axis=1)

In [7]:
data_all['station']

    station  station
0         0        0
1         0        0
2         1        1
3         2        2
4         2        2
..      ...      ...
95       11       11
96       12       12
97       12       12
98       13       13
99       13       13

[100 rows x 2 columns]

In [8]:
data_all = data_all.loc[:,~data_all.columns.duplicated()].copy() # Remove duplicate columns of station

In [9]:
data_all['station']

0      0
1      0
2      1
3      2
4      2
      ..
95    11
96    12
97    12
98    13
99    13
Name: station, Length: 100, dtype: int64

In [11]:
data_all.to_csv('Data/All_data.csv')