# DMI data merged with .csv

In [1]:
import pandas as pd

In [2]:
# DSB data
data = pd.read_parquet(path = "Data/DSB_BDK_trainingset.parquet")
data = data.reset_index()

In [23]:
# DMI data (mean_temp, mean_wind_speed)
dmi_data = pd.read_csv("Data/DMI_data.csv")

In [24]:
dmi_data

        Unnamed: 0  station  mean_temp  mean_wind_speed
0                0        0        3.5              2.9
1                0        0        3.5              2.9
2                0        1        3.5              2.9
3                0        2        4.2              2.5
4                0        2        4.2              2.5
...            ...      ...        ...              ...
199441           0       44        7.5              5.1
199442           0       45        6.6              3.9
199443           0       46        7.6              4.5
199444           0       46        7.6              4.5
199445           0       47        8.5              7.3

[199446 rows x 4 columns]

In [25]:
dmi_acc_precip = pd.read_csv("Data/DMI_acc_precip.csv")

In [26]:
dmi_acc_precip

        Unnamed: 0  station  acc_precip
0                0        0         0.0
1                0        0         0.0
2                0        1         0.0
3                0        2         0.0
4                0        2         0.0
...            ...      ...         ...
199441           0       44         8.4
199442           0       45         4.4
199443           0       46         7.2
199444           0       46         7.2
199445           0       47         7.4

[199446 rows x 3 columns]

In [27]:
dmi_acc_precip.iloc[:, 1:]

        station  acc_precip
0             0         0.0
1             0         0.0
2             1         0.0
3             2         0.0
4             2         0.0
...         ...         ...
199441       44         8.4
199442       45         4.4
199443       46         7.2
199444       46         7.2
199445       47         7.4

[199446 rows x 2 columns]

In [28]:
data_all = pd.concat([data.iloc[:, :],dmi_data.iloc[:, 1:], dmi_acc_precip.iloc[:, 1:]], axis=1)

In [29]:
data_all

,dato,togpunktlighed,koreplan_antal_planlagte_unik_tognr_togpkt_myldretid,koreplan_antal_planlagte_prod_kode_myldretid,koreplan_stdafv_antal_unik_prod_kode_per_time_myldretid,koreplan_antal_planlagte_unik_tognr_alle_myldretid,koreplan_stdafv_antal_unik_tognr_alle_per_time_myldretid,koreplan_antal_planlagte_unik_tognr_alle_g_meld_myldretid,koreplan_antal_planlagte_togfoelge_under_5_min_myldretid,koreplan_gns_planlagte_togfoelg_alle_min_myldretid,...,dsb_lkf_sygdom,dsb_lkf_relative_sygdom,dsb_haandvaerker,dsb_fravaer,dsb_relative_fravaer,station,mean_temp,mean_wind_speed,station,acc_precip
0,2016-01-01,0.941,5.0,2.0,0.41,5.0,0.41,0.0,0.0,150.00,...,0.000000,0.000000,482.0,4.594,0.047412,0,3.5,2.9,0,0.0
1,2016-01-01,0.882,8.0,2.0,0.82,8.0,0.82,0.0,0.0,85.57,...,0.000000,0.000000,482.0,4.594,0.047412,0,3.5,2.9,0,0.0
2,2016-01-01,0.000,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.00,...,0.000000,0.000000,482.0,4.594,0.047412,1,3.5,2.9,1,0.0
3,2016-01-01,0.941,13.0,3.0,1.33,13.0,1.33,0.0,0.0,50.00,...,20.680000,0.111104,482.0,4.594,0.047412,2,4.2,2.5,2,0.0
4,2016-01-01,0.971,16.0,4.0,1.51,16.0,1.51,0.0,3.0,46.00,...,20.680000,0.111104,482.0,4.594,0.047412,2,4.2,2.5,2,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199441,2022-12-31,0.960,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.00,...,22.520000,0.776552,493.0,6.379,0.040891,44,7.5,5.1,44,8.4
199442,2022-12-31,1.000,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.00,...,23.799999,0.233333,493.0,6.379,0.040891,45,6.6,3.9,45,4.4
199443,2022-12-31,0.789,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.00,...,24.270000,0.250206,493.0,6.379,0.040891,46,7.6,4.5,46,7.2
199444,2022-12-31,0.943,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.00,...,24.270000,0.250206,493.0,6.379,0.040891,46,7.6,4.5,46,7.2
199445,2022-12-31,0.904,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.00,...,16.420000,0.315769,298.0,3.777,0.095619,47,8.5,7.3,47,7.4

In [30]:
data_all['station']

        station  station  station
0             0        0        0
1             0        0        0
2             1        1        1
3             2        2        2
4             2        2        2
...         ...      ...      ...
199441       44       44       44
199442       45       45       45
199443       46       46       46
199444       46       46       46
199445       47       47       47

[199446 rows x 3 columns]

In [31]:
data_all = data_all.loc[:,~data_all.columns.duplicated()].copy() # Remove duplicate columns of station

In [32]:
data_all['station']

0          0
1          0
2          1
3          2
4          2
          ..
199441    44
199442    45
199443    46
199444    46
199445    47
Name: station, Length: 199446, dtype: int64

In [33]:
data_all

,dato,togpunktlighed,koreplan_antal_planlagte_unik_tognr_togpkt_myldretid,koreplan_antal_planlagte_prod_kode_myldretid,koreplan_stdafv_antal_unik_prod_kode_per_time_myldretid,koreplan_antal_planlagte_unik_tognr_alle_myldretid,koreplan_stdafv_antal_unik_tognr_alle_per_time_myldretid,koreplan_antal_planlagte_unik_tognr_alle_g_meld_myldretid,koreplan_antal_planlagte_togfoelge_under_5_min_myldretid,koreplan_gns_planlagte_togfoelg_alle_min_myldretid,...,dsb_tgf_relative_sygdom,dsb_lkf_fte,dsb_lkf_sygdom,dsb_lkf_relative_sygdom,dsb_haandvaerker,dsb_fravaer,dsb_relative_fravaer,mean_temp,mean_wind_speed,acc_precip
0,2016-01-01,0.941,5.0,2.0,0.41,5.0,0.41,0.0,0.0,150.00,...,0.000000,67.500031,0.000000,0.000000,482.0,4.594,0.047412,3.5,2.9,0.0
1,2016-01-01,0.882,8.0,2.0,0.82,8.0,0.82,0.0,0.0,85.57,...,0.000000,67.500031,0.000000,0.000000,482.0,4.594,0.047412,3.5,2.9,0.0
2,2016-01-01,0.000,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.00,...,0.000000,67.500031,0.000000,0.000000,482.0,4.594,0.047412,3.5,2.9,0.0
3,2016-01-01,0.941,13.0,3.0,1.33,13.0,1.33,0.0,0.0,50.00,...,0.024419,186.132726,20.680000,0.111104,482.0,4.594,0.047412,4.2,2.5,0.0
4,2016-01-01,0.971,16.0,4.0,1.51,16.0,1.51,0.0,3.0,46.00,...,0.024419,186.132726,20.680000,0.111104,482.0,4.594,0.047412,4.2,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199441,2022-12-31,0.960,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.00,...,0.000000,29.000000,22.520000,0.776552,493.0,6.379,0.040891,7.5,5.1,8.4
199442,2022-12-31,1.000,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.00,...,0.039799,102.000000,23.799999,0.233333,493.0,6.379,0.040891,6.6,3.9,4.4
199443,2022-12-31,0.789,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.00,...,0.006712,97.000000,24.270000,0.250206,493.0,6.379,0.040891,7.6,4.5,7.2
199444,2022-12-31,0.943,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.00,...,0.006712,97.000000,24.270000,0.250206,493.0,6.379,0.040891,7.6,4.5,7.2
199445,2022-12-31,0.904,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.00,...,0.000000,52.000000,16.420000,0.315769,298.0,3.777,0.095619,8.5,7.3,7.4

In [35]:
data_all.to_csv('Data/All_data.csv', index=False)